
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --vem: calc( 1vh + 1vw );
}

body {
  font-family: 'Inter', sans-serif;
  font-size:16px;
}

header {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  padding: 0.625rem;
  /* height: 3.8125rem; */
  width: 100vw;
  border-bottom: 1px solid black;
  background-color: rgba(255,255,255,0.8);
  z-index:1;
}

header a{
  text-decoration: none;
  color:black;
}

#title {
  display:inline-flex;
  height:2.5rem;
} 

#title img {
  height:100%;
}

h1 {
  font-size: 2.6875rem;
  margin-left: 0.625rem;
  vertical-align: middle;
  white-space: nowrap;
  font-weight:700;
}

h2 {
  font-size: 3rem;
  text-align: center;
  padding: 1rem 0;
}

h3 {
  font-size: 2rem;
  text-align: center;
  padding: 0.75rem 0;
}

p {
  font-size: 1.5rem;
  text-align:center;
  padding: 0.75rem 1rem;
}

@media only screen and (min-width: 1024px) {
  header {
    padding: calc(0.625 * var(--vem)) ;
  }

  #title {
    height: calc(2.5 * var(--vem));
  }

  h1 {
    font-size: calc(2.6875 * var(--vem));
    margin-left: calc(0.625 * var(--vem));
  }

  h2 {
    font-size: calc(3 * var(--vem));
    padding: calc(1 * var(--vem)) 0;
  }

  h3 {
    font-size: calc(2 * var(--vem));
    padding: calc(0.75 * var(--vem)) 0;
  }

  p {
    font-size: calc(1.5 * var(--vem));
    padding: calc(0.75 * var(--vem)) calc(1 * var(--vem));
  }
}

#menu {
  height: 2.5rem;
}

#menu ul {
  display: flex;
  height: 100%;
  align-items: center;
}

#menu li {
  margin-left: 1rem;
  vertical-align:middle;
  font-weight:500;
  font-size: 1.25rem;
}

#menu-icon {
  display: none;
}

@media only screen and (max-width: 700px) {
  #menu-icon {
    display:block;
    height: 2.5rem;
  }

  #menu-icon img {
    height: 100%;
  }

  #menu {
    display:none;
    margin-top:0.625rem;
    padding-top:0.625rem;
    border-top: 0.0625rem solid black;
    height: auto;
  }
  
  #menu ul {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 1.25rem);
  }

  #menu li {
    margin-left: 0;
  }

  #menu.show-on-mobile {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  #menu {
    height: calc(2.5 * var(--vem));
  }

  #menu li {
    margin-left: calc(1 * var(--vem));
    font-size: calc(1 * var(--vem));
  }
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: linear-gradient(180deg, rgba(0,40,0,1) 0%, rgba(82,144,11,1) 100%);
  background-position: fixed;
}

main section {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: calc(3.8125rem + 5vh) 0;
  color:white
}

#mission {
  background: center/cover url("../images/landscape.jpg");
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom,black 80%, transparent 100%);
}

#mission-text {
  background: black;
  color: white;
}


#portfolio ul {
  display: flex;
  width: 100vw;
  flex-grow: 1;
  /* height: calc(100vh - 5.8125rem ); */
  align-content: stretch;
}

#portfolio li {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-blend-mode: overlay;
  --portfolio-filter: rgba(200,200,200,0.6);
  opacity:100%;
  transition: opacity 4s ease, background-position 2s ease;
  transition-delay: 0s;
}

#portfolio h3 {
  background-color: rgba(0,0,0,0.6);
  color: white;
}

#portfolio li.festivals {
  background: center/cover url(../images/festival.jpg) var(--portfolio-filter);
  transition-delay: 0s;
}

#portfolio li.farming {
  background: center/cover url(../images/farming.jpg) var(--portfolio-filter);
  transition-delay: 0.5s;
}

#portfolio li.camping {
  background: 50% 75%/cover url(../images/camping.jpg) var(--portfolio-filter);
  transition-delay: 1s;
}

#portfolio li.sports {
  background: center/cover url(../images/sports.jpg) var(--portfolio-filter);
  transition-delay: 1.5s;
}

#portfolio li.hide-image {
  opacity:0%;
  transition-delay: 0s;
  transition-duration: 0.5s;
  background-position: 50% 100%;
}

@media only screen and (max-width: 700px) {
  #portfolio ul {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  main section {
    padding: calc(calc(3.8125 * var(--vem)) + 5vh) 0;
  }
}

#staff ul {
  display: flex;
  width: 100vw;
  flex-grow: 1;
}

#staff li {
  flex-grow: 1;
  width: 30vw;
}

#staff figure {
  display: flex;
  height:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#staff img{
  height: auto;
  max-height: 30vh;
  max-width: 80%;
}

#staff figcaption p {
  font-size: 1rem;
  padding: 0.25rem 0;
}

@media only screen and (max-width: 700px) {
  #staff ul {
    flex-direction: column;
  }

  #staff li {
    width: auto;
  }

  #staff figure {
    height:auto;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #staff img{
    max-height: 20vh;
    max-width: 50%;
    width: auto;
    height: auto;
  }

  #staff figcaption{
    flex-grow:1;
  }
}

@media only screen and (min-width: 1024px) {
  #staff figcaption p {
    font-size: calc(1 * var(--vem));
    padding: calc(0.25 * var(--vem)) 0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}